* {
    font-family: Roboto;
}
.header-links-container {
    display: flex;
    align-items: center;
    gap: 16px; /* space between links */
    flex-direction: row;
}
  
.header-links-item, a:link, a:visited {
    color:#E5E7EB;
    font-size: 18px;
    text-decoration:none;
}

.header-logo { 
    color:#F9FAF8;
    font-size:24px;
    font-weight:bolder;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-evenly;
}