/* universal properties */
* {
    margin:0;
    font-family: Roboto;
}

/* header section */
.header-links-container {
    display: flex;
    gap: 16px; /* space between links */
    flex-direction: row;
}

.header-links-item, a:link, a:visited {
    color:#E5E7EB;
    text-decoration:none;
}

.header-logo { 
    color:#F9FAF8;
    font-size:24px;
    font-weight:bolder;
    justify-content:center;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    padding:1%;
}

/* section one */
.section-one-container {
    display:flex;
    color:#F9FAF8;
    background-color: #1F2937;
    justify-content:space-evenly;
}